
@{
    var session = (UserLogin)Session[WebsiteNoiThat.Common.Commoncontent.user_sesion];
}

@if (session != null)
{
    <a id="a_account" href="/RegisterAndLogin/ViewCurentUser"><img src="~/Content/client/assets/img/round-account-button-with-user-inside.png" /></a>
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        @session.Username
    </button>
    <ul class="dropdown-menu dropdown-user" id="account_dropdown">

        <li>
            <a href="/Cart/HistoryCart"><i class="fa fa-hourglass"></i> Lịch sử mua hàng</a>
        </li>
        <li>
            <a href=""><i class="fa fa-credit-card"></i> Thẻ tích điểm:@ViewBag.Card </a>
        </li>

        <li>
            <a href="@Url.Action("Card", "RegisterAndLogin", new { @UserId=session.UserId })"><i class="fa fa-sign-in"></i> Đăng ký thẻ tích điểm</a>
        </li>
        <li>
            <a href="/RegisterAndLogin/Logout"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        </li>

    </ul>
}
else
{
    <a id="a_account" href="/RegisterAndLogin/Login"><img src="~/Content/client/assets/img/round-account-button-with-user-inside.png" /></a>
}

