@{
    ViewBag.Title = "Show";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a  href="~/Admin/Login"     style="color:red">Bạn không có quyền truy cập trang này!<span> Đăng nhập</span></a>